"Nuevo Avance B\303\241sico/"
*~
.CFUserTextEncoding
.ICEauthority
.Skype
.Trash/
.Xauthority
.android
.bash_history
.bash_logout
.bash_profile
.bash_profile.pysave
.bash_sessions/
.bashrc
.bredbandskollen
.cache
.ccache/
.clang-format
.codeblocks
.compiz
.config/.mono
.config/Empathy
.config/GoogleCalendargooglecom
.config/Google\ Play\ Music\ Desktop\ Player
.config/KeePass
.config/QtProject.conf
.config/QtProject/
.config/Skype
.config/Trolltech.conf
.config/YouTubeyoutubecom
.config/autostart
.config/brasero
.config/calibre
.config/calligrawordsrc
.config/chromium
.config/com.ubuntu*
.config/compiz*
.config/connectivity*
.config/dconf
.config/dleyna-renderer-service.conf
.config/enchant
.config/evolution
.config/gedit
.config/git/
.config/gnome*
.config/goa*
.config/google*
.config/gtk*
.config/ibus
.config/libaccounts-glib/
.config/libaccounts.glib
.config/libreoffice
.config/menus
.config/mimeapp.list
.config/mimeapps.list
.config/monitors-v1-backup.xml
.config/monitors.xml
.config/nautilus
.config/nvim
.config/pulse
.config/session
.config/signond
.config/software-center
.config/sublime-text-3
.config/totem
.config/touchegg
.config/touchpad-indicator
.config/ubuntu*
.config/unity*
.config/update-notifier
.config/user-dirs.*
.config/webbrowser-app
.config/yelp/
.cpan/
.cups/
.cvm/
.dbus
.dependo/
.dmrc
.dropbox*
.easystroke
.emscripten
.emscripten_cache/
.emscripten_sanity
.fehbg
.fonts
.foxrc
.fzf*
.gconf
.gftp
.gimp*
.git-completion.bash
.gitconfig
.gitignore_global
.gksu.lock
.gnome
.gnupg
.goggles
.gstreamer*
.gtkrc*
.hgignore_global
.icons
.idlerc/
.iterm2/
.iterm2_shell_integration.bash
.java
.kde
.kdiff3rc
.keepassx/
.lesshst
.lldb/
.local
.lyx*
.macromedia
.minecraft
.minetest
.mono
.mozilla
.nv
.nvidia*
.oracle_jre_usage/
.pam*
.pki
.pre-commit/
.profile
.python_history
.qt-license
.recently-used
.rnd
.scribus
.selected_editor
.skipbuddy
.ssh
.subversion/
.sudo*
.surf
.texlive*
.texmf-var
.themes
.thunderbird
.vim*
.wget*
.wine
.xbindkeysrc
.xinputrc
.xsel.log
.xsession*
.ycm_extra_conf.py
.ycm_extra_conf.pyc
.zcompdump
.zsh_history
Adobe*
Applications (Parallels)/
Applications/
Calibre*
D15465.diff.txt
Desktop/
Documents
Downloads
Doxy*
Dropbox
Fiction Editor 2.app/
Google Drive/
Library/
Movies/
Music
Nuevo Avance B\303\241sico/
Parallels/
Pictures
Poppermost
Public/
Qt/
SDKs/
SDL2-2.0.3/
Startify
Xcode.app/
academy-intermediate/
acpi*
alpm.save
android
android-ndk-r10d/
android-sdk-macosx/
buildsysv2tools/
cpdismissal/
cppadvance/
cppintermediate/
drivers
emsdk_portable/
examples.desktop
fiction/
fonts/
games/
gdc.key
gdcsessions
gittest/
gittest2/
kingCrossAppShare.dat
kstl/
loglog
ltAldoRaine/
master/
minecraft*
perl5/
selected
shared_tech_weekly/
source
test.html
test.txt
test/
texput*
tutor
unity-reset
vim-multiple-cursors
wilbur/
worktest
xSwipe-master
xserver*
