*~
.ICEauthority
.Skype
.Xauthority
.android
.bash_history
.bash_logout
.bash_profile
.bashrc
.bredbandskollen
.cache
.clang-format
.codeblocks
.compiz
.config/.mono
.config/Empathy
.config/Google\ Play\ Music\ Desktop\ Player
.config/GoogleCalendargooglecom
.config/KeePass
.config/QtProject.conf
.config/Skype
.config/Trolltech.conf
.config/YouTubeyoutubecom
.config/autostart
.config/brasero
.config/calibre
.config/calligrawordsrc
.config/chromium
.config/com.ubuntu*
.config/compiz*
.config/connectivity*
.config/dconf
.config/enchant
.config/evolution
.config/gedit
.config/gnome*
.config/goa*
.config/google*
.config/gtk*
.config/
.config/ibus
.config/libaccounts.glib
.config/libreoffice
.config/menus
.config/mimeapp.list
.config/monitors.xml
.config/nautilus
.config/pulse
.config/session
.config/signond
.config/software-center
.config/sublime-text-3
.config/totem
.config/touchegg
.config/touchpad-indicator
.config/ubuntu*
.config/unity*
.config/update-notifier
.config/user-dirs.*
.config/webbrowser-app
.dbus
.dmrc
.dropbox*
.easystroke
.fehbg
.fonts
.foxrc
.fzf*
.gconf
.gftp
.gimp*
.gitconfig
.gksu.lock
.gnome
.gnupg
.goggles
.gstreamer*
.gtkrc*
.icons
.java
.kde
.lesshst
.local
.lyx*
.macromedia
.minecraft
.minetest
.mono
.mozilla
.nv
.nvidia*
.pam*
.pki
.profile
.recently-used
.scribus
.ssh
.sudo*
.surf
.texlive*
.texmf-var
.themes
.thunderbird
.vim*
.wget*
.wine
.xbindkeysrc
.xinputrc
.xsel.log
.xsession*
Adobe*
Calibre*
Documents
Downloads
Doxy*
Dropbox
Music
Pictures
Poppermost
acpi*
alpm.save
android
drivers
examples.desktop
minecraft*
selected
source
test.html
texput*
tutor
unity-reset
vim-multiple-cursors
xSwipe-master
xserver*
